@import "./vars";

.landing {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
        width: 50%;
        height: 80%;
        padding: 5%;
        padding-bottom: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main-text {
            font-size: 32px;
            font-weight: bold;
        }
        .sub-text {
            font-size: 20px;
        }
        .CTA {
            position: relative;
            display: inline-block;
            width: 321px;
            border: 2px solid $dark;
            padding: 16px 0px;
            color: $dark;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            .CTA-text {
                position: relative;
                padding: 16px 32px;
                background-color: $light;
                z-index: 1;
                font-weight: bold;
            }
        }
        .CTA:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleY(1);
        }        
        .CTA:hover:before {
            transform: scaleY(0);
        }
        .CTA:after {
            content: '';
            position: absolute;
            left: 6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleX(1);
        }
        .CTA:hover:after {
            transform: scaleX(0);
        }
    }
    .right {
        width: 50%;
        height: 60%;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 92px;
    }
}
.projects {   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-bottom: 12vh;    
    padding-top: 20vh;    
    .projects-name {
        padding-bottom: 4px;
        border-bottom: 2px solid $dark;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .card-1 {
        width: 900px;
        background-color: $light;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 92px;
        height: 400px;
        .left {
            width: 50%;
            height: 100%;
            .picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 64px;
            .project {
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .project-text {
                margin-top: 32px;
                font-size: 18px;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }    
    .card-2 {
        width: 900px;
        background-color: $light;
        display: flex;
        margin-top: 92px;
        height: 400px;
        .left {
            width: 50%;
            height: 100%;
            .picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 64px;
            .project {
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .project-text {
                margin-top: 32px;
                font-size: 18px;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}
.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .about-me {
        padding-bottom: 4px;
        border-bottom: 2px solid $dark;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .card {
        width: 900px;
        background-color: $light;
        display: flex;
        margin-top: 92px;
        .left {
            width: 50%;
            height: 100%;
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 64px;
            .i-am {
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .i-am-text {
                margin-top: 32px;
                font-size: 18px;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}