.landing {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .left {
  width: 50%;
  height: 80%;
  padding: 5%;
  padding-bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.landing .left .main-text {
  font-size: 32px;
  font-weight: bold;
}

.landing .left .sub-text {
  font-size: 20px;
}

.landing .left .CTA {
  position: relative;
  display: inline-block;
  width: 321px;
  border: 2px solid #212121;
  padding: 16px 0px;
  color: #212121;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.landing .left .CTA .CTA-text {
  position: relative;
  padding: 16px 32px;
  background-color: #f5f5f5;
  z-index: 1;
  font-weight: bold;
}

.landing .left .CTA:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.landing .left .CTA:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.landing .left .CTA:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.landing .left .CTA:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.landing .right {
  width: 50%;
  height: 60%;
  background-image: url("../images/background2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 92px;
}

.services {
  width: 100%;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .my-services {
  padding: 0px 12px 8px 12px;
  border-bottom: 2px solid #212121;
  font-weight: bold;
  letter-spacing: 2px;
}

.services .services-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services-list .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin-top: 92px;
}

.services .services-list .service .up {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.services .services-list .service .up .picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .services-list .service .up .zoom {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.services .services-list .service .down {
  margin-top: 32px;
  line-height: 1.6;
}

.projects {
  width: 100%;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .projects-name {
  padding: 0px 12px 8px 12px;
  border-bottom: 2px solid #212121;
  font-weight: bold;
  letter-spacing: 2px;
}

.projects .card-1 {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 900px;
  height: 400px;
  margin: 64px;
}

.projects .card-1 .left {
  width: 50%;
  height: 100%;
}

.projects .card-1 .left .picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .card-1 .right {
  width: 50%;
  height: 100%;
  padding: 64px;
}

.projects .card-1 .right .project {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
}

.projects .card-1 .right .project-text {
  margin-top: 32px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.projects .card-2 {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 400px;
  margin: 64px;
}

.projects .card-2 .left {
  width: 50%;
  height: 100%;
}

.projects .card-2 .left .picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .card-2 .right {
  width: 50%;
  height: 100%;
  padding: 64px;
}

.projects .card-2 .right .project {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
}

.projects .card-2 .right .project-text {
  margin-top: 32px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.about {
  width: 100%;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-me {
  padding: 0px 12px 8px 12px;
  padding-bottom: 8px;
  border-bottom: 2px solid #212121;
  font-weight: bold;
  letter-spacing: 2px;
}

.about .card {
  width: 900px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 92px;
}

.about .card .left {
  width: 50%;
  height: 100%;
}

.about .card .left .picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .card .right {
  width: 50%;
  height: 100%;
  padding: 64px;
}

.about .card .right .i-am {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
}

.about .card .right .i-am-text {
  margin-top: 32px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.go-deeper {
  position: relative;
  display: inline-block;
  margin-top: 20vh;
  padding: 26px;
  text-decoration: none;
  color: #212121;
  background: #f5f5f5;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

.go-deeper span {
  display: block;
  position: absolute;
  background: #212121;
}

.go-deeper span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.go-deeper span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.go-deeper span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.go-deeper span:nth-child(4) {
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.go-deeper:hover span:nth-child(1) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.go-deeper:hover span:nth-child(2) {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.go-deeper:hover span:nth-child(3) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.go-deeper:hover span:nth-child(4) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.go-deeper.smaller-top-margin {
  margin-top: 6vh;
  margin-bottom: 12vh;
}

@media screen and (max-width: 1200px) {
  .services .services-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .landing .left {
    width: 80%;
    padding-left: 0;
  }
  .landing .right {
    display: none;
  }
  .projects .card-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
    width: 400px;
  }
  .projects .card-1 .left {
    width: 100%;
  }
  .projects .card-1 .right {
    width: 100%;
    padding: 32px;
    padding-top: 64px;
  }
  .projects .card-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
    width: 400px;
  }
  .projects .card-2 .left {
    width: 100%;
  }
  .projects .card-2 .right {
    width: 100%;
    padding: 32px;
    padding-top: 64px;
  }
  .about .card {
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .card .left {
    width: 100%;
  }
  .about .card .right {
    width: 100%;
  }
}

@media screen and (max-width: 567px) {
  .landing {
    height: 90vh;
  }
  .landing .left {
    padding: 0;
    padding-top: 12vh;
    height: 100%;
  }
  .landing .left .main-text {
    font-size: 20px;
    font-weight: bold;
  }
  .landing .left .sub-text {
    font-size: 18px;
  }
  .landing .left .CTA {
    position: relative;
    display: inline-block;
    width: 264px;
    border: 2px solid #212121;
    padding: 16px 0px;
    color: #212121;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #f5f5f5;
  }
  .landing .left .CTA .CTA-text {
    position: relative;
    padding: 16px;
    z-index: 1;
    font-weight: bold;
  }
  .landing .left .CTA:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% - 12px);
    background-color: #f5f5f5;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .landing .left .CTA:hover:before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .landing .left .CTA:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -4px;
    height: calc(100% + 8px);
    width: calc(100% - 12px);
    background-color: #f5f5f5;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .landing .left .CTA:hover:after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .services {
    padding-top: 16vh;
  }
  .services .my-services {
    font-size: 16px;
  }
  .services .services-list .service {
    width: 300px;
    margin-top: 64px;
  }
  .services .services-list .service .up {
    width: 180px;
    height: 180px;
  }
  .services .services-list .service .down {
    font-size: 14px;
    line-height: 1.6;
  }
  .projects {
    padding-top: 16vh;
  }
  .projects .projects-name {
    font-size: 16px;
  }
  .projects .card-1 {
    height: 700px;
    width: 300px;
    margin: 32px;
  }
  .projects .card-1 .right {
    width: 100%;
    padding: 26px;
    padding-top: 48px;
  }
  .projects .card-1 .right .project {
    font-size: 16px;
  }
  .projects .card-1 .right .project-text {
    font-size: 14px;
  }
  .projects .card-2 {
    height: 700px;
    width: 300px;
    margin: 32px;
  }
  .projects .card-2 .right {
    padding: 26px;
    padding-top: 48px;
  }
  .projects .card-2 .right .project {
    font-size: 16px;
  }
  .projects .card-2 .right .project-text {
    font-size: 14px;
  }
  .about {
    padding-top: 16vh;
  }
  .about .about-me {
    font-size: 16px;
  }
  .about .card {
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .card .left {
    width: 100%;
  }
  .about .card .right {
    width: 100%;
    padding: 26px;
    padding-top: 48px;
  }
  .about .card .right .i-am {
    font-size: 16px;
  }
  .about .card .right .i-am-text {
    font-size: 14px;
  }
  .go-deeper {
    margin-top: 12vh;
    font-size: 16px;
  }
}
/*# sourceMappingURL=index.css.map */