@import "./vars";

.landing {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
        width: 50%;
        height: 60%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main-text {
            font-size: 32px;
            font-weight: bold;
        }
        .sub-text {
            font-size: 20px;
        }
        .CTA {
            position: relative;
            display: inline-block;
            width: 321px;
            border: 2px solid $dark;
            padding: 16px 0px;
            color: $dark;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            .CTA-text {
                position: relative;
                padding: 16px 32px;
                background-color: $beige;
                z-index: 1;
                font-weight: bold;
            }
        }
        .CTA:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleY(1);
        }        
        .CTA:hover:before {
            transform: scaleY(0);
        }
        .CTA:after {
            content: '';
            position: absolute;
            left: 6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleX(1);
        }
        .CTA:hover:after {
            transform: scaleX(0);
        }
    }
    .right {
        width: 50%;
        height: 60%;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
