@import "./vars";

.landing {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
        width: 50%;
        height: 60%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main-text {
            font-size: 32px;
            font-weight: bold;
        }
        .sub-text {
            font-size: 20px;
        }
        .CTA {
            position: relative;
            display: inline-block;
            width: 321px;
            border: 2px solid $dark;
            padding: 16px 0px;
            color: $dark;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            .CTA-text {
                position: relative;
                padding: 16px 32px;
                background-color: $light;
                z-index: 1;
                font-weight: bold;
            }
        }
        .CTA:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleY(1);
        }        
        .CTA:hover:before {
            transform: scaleY(0);
        }
        .CTA:after {
            content: '';
            position: absolute;
            left: 6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleX(1);
        }
        .CTA:hover:after {
            transform: scaleX(0);
        }
    }
    .right {
        width: 50%;
        height: 60%;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $darker-grey;
    .container {
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        display: flex;
        z-index: 2;
        .contact-info {
            position: absolute;
            top: 40px;
            width: 350px;
            height: calc(100% - 80px);
            background: $light;
            z-index: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            .contact-text {
                color: $dark;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .info {
                position: relative;
                margin: 20px 0;
            }
            .contact-details {
                position: relative;
                list-style: none;
                display: flex;
                color: $dark;
                margin: 20px 12px;
                font-size: 18px;
            }
        }
        .contact-form {
            position: absolute;
            padding: 80px 50px;
            background: $mid-grey;
            margin-left: 150px;
            padding-left: 250px;
            width: calc(100% - 250px);
            height: 100%;
            .send-message {
                color: $light;
                letter-spacing: 2px;
                font-size: 24px;
                font-weight: bold;

            }  
            .form {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 42px;

            }
            .input {
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    padding: 5px;
                    font-size: 18px;
                    color: $light;
                    transition: .5s;
                    pointer-events: none;
                    letter-spacing: 1px;
                }
                textarea {
                    min-height: 120px;
                }
                input, textarea {
                    width: 100%;
                    padding: 6px 12px;
                    font-size: 18px;
                    color: $light;
                    border: none;
                    outline: none;
                    background: $light-grey;
                    resize: none;
                }
                input:focus ~ span, textarea:focus ~ span,
                input:valid ~ span, textarea:valid ~ span {
                    transform: translateY(-32px);
                    font-size: 16px;
                }
                input[type="submit"] {
                    position: relative;
                    cursor: pointer;
                    background: $light;
                    color: $dark;
                    border: none;
                    max-width: 150px;
                    padding: 14px;
                    transition: .4s all ease-in-out;
                    font-weight: bold;
                    letter-spacing: 2px;
                    &:hover {
                        color: $light;
                        background: $dark;
                    }
                }
            }
            .input.w50 {
                width: 47%;
                margin-bottom: 48px;
            }
            .input.w100 {
                width: 100%;
                margin-bottom: 20px;
                text-align: right;
            }

        }
    }
}