@import "./vars";

.landing {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
        width: 50%;
        height: 80%;
        padding: 5%;
        padding-bottom: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main-text {
            font-size: 32px;
            font-weight: bold;
        }
        .sub-text {
            font-size: 20px;
        }
        .CTA {
            position: relative;
            display: inline-block;
            width: 321px;
            border: 2px solid $dark;
            padding: 16px 0px;
            color: $dark;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            .CTA-text {
                position: relative;
                padding: 16px 32px;
                background-color: $light;
                z-index: 1;
                font-weight: bold;
            }
        }
        .CTA:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleY(1);
        }        
        .CTA:hover:before {
            transform: scaleY(0);
        }
        .CTA:after {
            content: '';
            position: absolute;
            left: 6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% - 12px);
            background: #fff;
            transition: .5s ease-in-out;
            transform: scaleX(1);
        }
        .CTA:hover:after {
            transform: scaleX(0);
        }
    }
    .right {
        width: 50%;
        height: 60%;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 92px;
    }
}

.services {
    width: 100%; 
    padding-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .my-services {
        padding: 0px 12px 8px 12px;
        border-bottom: 2px solid $dark;
        font-weight: bold;
        letter-spacing: 2px;
    }    
    .services-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .service {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 330px;
            margin-top: 92px;
            .up {
                width: 200px;
                height: 200px;
                overflow: hidden;
                .picture {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .zoom {                    
                    transform: scale(1.6);
                }
            }
            .down {
                margin-top: 32px;
                line-height: 1.6;
            }
        }
    }
}

.projects {   
    width: 100%;   
    padding-top: 20vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .projects-name {
        padding: 0px 12px 8px 12px;
        border-bottom: 2px solid $dark;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .card-1 {
        background-color: $light;
        display: flex;
        flex-direction: row-reverse;
        width: 900px;
        height: 400px;
        margin: 64px;
        .left {
            width: 50%;
            height: 100%;
            .picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 64px;
            .project {
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .project-text {
                margin-top: 32px;
                font-size: 18px;
                text-align: justify;
                text-justify: inter-word;
                line-height: 1.6;
            }
        }
    }    
    .card-2 {
        background-color: $light;
        display: flex;
        width: 900px;
        height: 400px;
        margin: 64px;
        .left {
            width: 50%;
            height: 100%;
            .picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 64px;
            .project {
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .project-text {
                margin-top: 32px;
                font-size: 18px;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}

.about {
    width: 100%;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .about-me {
        padding: 0px 12px 8px 12px;
        padding-bottom: 8px;
        border-bottom: 2px solid $dark;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .card {
        width: 900px;
        background-color: $light;
        display: flex;
        margin-top: 92px;
        .left {
            width: 50%;
            height: 100%;
            .picture {
                width: 100%;
                object-fit: cover;
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 64px;
            .i-am {
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .i-am-text {
                margin-top: 32px;
                font-size: 18px;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}

.go-deeper {
    position: relative;
    display: inline-block;
    margin-top: 20vh;
    padding: 26px;
    text-decoration: none;
    color: $dark;
    background: $light;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    transition: .5s;
    span {
        display: block;
        position: absolute;
        background: $dark;
        &:nth-child(1) {
            left: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .5s;
        }
        &:nth-child(2) {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }
        &:nth-child(3) {
            right: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .5s;
        }
        &:nth-child(4) {
            right: 0;
            top: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .5s;
        }
    }        
    &:hover {
        span:nth-child(1) {
            transform: scaleY(1);
            transform-origin: bottom;
        }
        span:nth-child(2) {
            transform: scaleX(1);
            transform-origin: left;
        }
        span:nth-child(3) {
            transform: scaleY(1);
            transform-origin: top;
        }
        span:nth-child(4) {
            transform: scaleY(1);
            transform-origin: right;
        }
    }
}

.go-deeper.smaller-top-margin {
    margin-top: 6vh;
    margin-bottom: 12vh;
}

@media screen and (max-width: 1200px) {
    .services {
        .services-list {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 992px) {
    .landing {
        .left {
            width: 80%;
            padding-left: 0;
        }
        .right {
            display: none;
        }
    }
    .projects {
        .card-1  {
            flex-direction: column;
            height: 800px;
            width: 400px;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                padding: 32px;
                padding-top: 64px;
            }
        }
        .card-2  {
            flex-direction: column;
            height: 800px;
            width: 400px;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                padding: 32px;
                padding-top: 64px;
            }
        }
    }
    .about {
        .card {
            width: 400px;
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 567px) {
    .landing {
        height: 90vh;
        .left {
            padding: 0;
            padding-top: 12vh;
            height: 100%;
            .main-text {
                font-size: 20px;
                font-weight: bold;
            }
            .sub-text {
                font-size: 18px;
            }
            .CTA {
                position: relative;
                display: inline-block;
                width: 264px;
                border: 2px solid $dark;
                padding: 16px 0px;
                color: $dark;
                text-decoration: none;
                font-weight: bold;
                font-size: 18px;
                background-color: $light;
                .CTA-text {
                    position: relative;
                    padding: 16px;
                    z-index: 1;
                    font-weight: bold;
                }
            }
            .CTA:before {
                content: '';
                position: absolute;
                top: 6px;
                left: -4px;
                width: calc(100% + 8px);
                height: calc(100% - 12px);
                background-color: $light;
                transition: .5s ease-in-out;
                transform: scaleY(1);
            }        
            .CTA:hover:before {
                transform: scaleY(0);
            }
            .CTA:after {
                content: '';
                position: absolute;
                left: 6px;
                top: -4px;
                height: calc(100% + 8px);
                width: calc(100% - 12px);
                background-color: $light;
                transition: .5s ease-in-out;
                transform: scaleX(1);
            }
            .CTA:hover:after {
                transform: scaleX(0);
            }
        }
    }
    .services {
        padding-top: 16vh; 
        .my-services {
            font-size: 16px;
        }    
        .services-list {
            .service {
                width: 300px;
                margin-top: 64px;
                .up {
                    width: 180px;
                    height: 180px;
                }
                .down {
                    font-size: 14px;
                    line-height: 1.6;
                }
            }
        }
    }
    .projects {
        padding-top: 16vh; 
        .projects-name {
            font-size: 16px;
        }
        .card-1  {
            height: 700px;
            width: 300px;
            margin: 32px;
            .right {
                width: 100%;
                padding: 26px;
                padding-top: 48px;
                .project {
                    font-size: 16px;
                }                
                .project-text {
                    font-size: 14px;
                }
            }
        }
        .card-2  {
            height: 700px;
            width: 300px;
            margin: 32px;
            .right {
                padding: 26px;
                padding-top: 48px;
                .project {
                    font-size: 16px;
                }                
                .project-text {
                    font-size: 14px;
                }
            }
        }
    }
    .about {
        padding-top: 16vh; 
        .about-me {
            font-size: 16px;
        }
        .card {
            width: 260px;
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                padding: 26px;
                padding-top: 48px;
                .i-am {
                    font-size: 16px;
                }
                .i-am-text {
                    font-size: 14px;
                }
            }
        }
    }
    .go-deeper {
        margin-top: 12vh;
        font-size: 16px;
    }
}