@import "./vars";

* {
    font-family: Montserrat;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
}

.header {
    position: fixed;
    height: 10vh;
    min-height: 80px;
    width: 100%;
    transition: .4s all ease-in-out;
    display: flex;
    z-index: 5;
    background-color: $light;
    .title { 
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 2;
        padding: 0 5%;
        .top-link {
            text-decoration: none;
            color: $dark;
            letter-spacing: 2px;
            font-size: 42px;
        }
    }
    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        letter-spacing: 2px;
        font-size: 22px;
        .list-link {
            .link {
                text-decoration: none;
                color: $dark;
            }
        }
    }
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background: $darker-grey;
    .contact-me {
        color: $light;
        margin-bottom: 92px;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 2px;
    }
    .container {
        position: relative;
        width: 1100px;
        height: 550px;
        display: flex;
        z-index: 2;
        .contact-info {
            position: absolute;
            top: 40px;
            width: 350px;
            height: calc(100% - 80px);
            background: $light;
            z-index: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            .contact-text {
                color: $dark;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .info {
                position: relative;
                margin: 20px 0;
            }
            .contact-details {
                position: relative;
                list-style: none;
                display: flex;
                color: $dark;
                margin: 20px 12px;
                font-size: 18px;
            }
        }
        .contact-form {
            position: absolute;
            padding: 80px 50px;
            background: $mid-grey;
            margin-left: 150px;
            padding-left: 250px;
            width: calc(100% - 250px);
            height: 100%;
            .send-message {
                color: $light;
                letter-spacing: 2px;
                font-size: 24px;
                font-weight: bold;

            }  
            .form {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 42px;

            }
            .input {
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    padding: 6px;
                    font-size: 16px;
                    color: $light;
                    transition: .5s;
                    pointer-events: none;
                    letter-spacing: 1px;
                }
                textarea {
                    min-height: 120px;
                }
                input, textarea {
                    width: 100%;
                    padding: 6px;
                    font-size: 16px;
                    color: $light;
                    border: none;
                    outline: none;
                    background: $light-grey;
                    resize: none;
                }
                input:focus ~ span, textarea:focus ~ span,
                input:valid ~ span, textarea:valid ~ span {
                    transform: translateY(-32px);
                    font-size: 16px;
                }
                input[type="submit"] {
                    position: relative;
                    cursor: pointer;
                    background: $light;
                    color: $dark;
                    border: none;
                    max-width: 150px;
                    padding: 14px;
                    transition: .4s all ease-in-out;
                    font-weight: bold;
                    letter-spacing: 2px;
                    &:hover {
                        color: $light;
                        background: $dark;
                    }
                }
            }
            .input.half {
                width: 47%;
                margin-bottom: 48px;
            }
            .input.full {
                width: 100%;
                margin-bottom: 20px;
                text-align: right;
            }

        }
    }
}

@media screen and (min-width: 2560px) {
    .header {
        .title { 
            .top-link {
                font-size: 58px;
            }
        }
        .nav-links {
            font-size: 36px;
        }
    }
    .contact {
        .contact-me {
            margin-bottom: 128px;
            font-size: 48px;
        }
        .container {
            width: 1600px;
            height: 800px;
            .contact-info {
                width: 450px;
                height: calc(100% - 80px);
                .contact-text {
                    font-size: 32px;
                }
                .info {
                    margin: 26px 0;
                }
                .contact-details {
                    margin: 26px 16px;
                    font-size: 26px;
                }
            }
            .contact-form {
                margin-left: 150px;
                padding-left: 350px;
                width: calc(100% - 250px);
                .send-message {
                    font-size: 36px;    
                }
                .form {                    
                    padding-top: 64px;
                }
                .input {
                    span {
                        padding: 10px;
                        font-size: 22px;
                    }
                    textarea {
                        min-height: 260px;
                    }
                    input, textarea {
                        padding: 12px 10px;
                        font-size: 22px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-40px);
                        font-size: 22px;
                    }
                    input[type="submit"] {
                        max-width: 180px;
                        padding: 18px;
                        font-size: 26px;
                        &:hover {
                            color: $light;
                            background: $dark;
                        }
                    }
                }
                .input.half {
                    width: 47%;
                    margin-bottom: 64px;
                }
                .input.full {
                    width: 100%;
                    margin-bottom: 20px;
                    text-align: right;
                }
    
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .header {
        .nav-links {
            width: 65%;
        }        
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .nav-links {
            width: 70%;
        }              
        .nav-links {
            .link {
                font-size: 18px;
            }
        }
    }
    .contact {
        .container {
            width: 700px;
            height: 500px;            
            .contact-info {
                width: 250px;
                height: calc(100% - 80px);
                padding: 24px;
                .contact-text {
                    font-size: 18px;
                }
                .contact-details {
                    font-size: 16px;
                }
            }
            .contact-form {
                padding: 30px 20px;
                margin-left: 50px;
                padding-left: 250px;
                width: calc(100% - 50px);
                height: 100%;
                .send-message {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .nav-links {
            position: fixed;
            top: 0;
            left: 0;
            background-color: $light;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            transition: all 0.9s ease-out;
            clip-path: circle(100px at 100% -15%);
            .list-link {
                font-size: 32px;
                margin: 5% 0;
            }
        }
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: .4s all ease-in-out;
        .line {
            width: 35px;
            height: 4px;
            margin: 6px;
            background-color: $dark;
            transition: .4s all ease-in-out;
        }
    }
    .hamburger.active {
        margin-right: 12px;
        .line {
            margin: -4px;
        }
        .line:nth-child(1) {
            transform: rotate(45deg);
        }
        .line:nth-child(2) {
            opacity: 0;
        }
        .line:nth-child(3) {
            transform: rotate(135deg);
        }
    }
    .nav-links.open {
        clip-path: circle(1650px at 5% 0%);
        pointer-events: all;
    }
    .contact {
        .container {
            width: 650px;
            height: 500px;
            .contact-info {
                width: 225px;
                height: calc(100% - 80px);
                padding: 32px 14px;
                .contact-text {
                    font-size: 18px;
                }
                .contact-details {
                    margin: 12px 6px;
                    font-size: 14px;
                }
            }
            .contact-form {
                padding: 50px 50px;
                margin-left: 100px;
                padding-left: 150px;
                width: calc(100% - 100px);
                height: 100%;
                .send-message {
                    font-size: 18px;    
                }  
                .form {
                    padding-top: 42px;    
                }
                .input {
                    span {
                        padding: 6px;
                        font-size: 14px;
                    }
                    textarea {
                        min-height: 120px;
                    }
                    input, textarea {
                        padding: 6px;
                        font-size: 14px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-32px);
                        font-size: 16px;
                    }
                    input[type="submit"] {
                        padding: 12px 0px;
                        font-size: 14px;
                        max-width: 100px;
                    }
                }
                .input.half {
                    margin-bottom: 48px;
                }
                .input.full {
                    margin-bottom: 20px;
                }
    
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .contact {
        .container {
            width: 550px;
            height: 500px;
            .contact-info {
                width: 200px;
                height: calc(100% - 80px);
                padding: 32px 12px;
                .contact-text {
                    font-size: 16px;
                }
                .contact-details {
                    margin: 12px 6px;
                    font-size: 14px;
                }
            }
            .contact-form {
                padding: 50px 50px;
                margin-left: 100px;
                padding-left: 120px;
                width: calc(100% - 100px);
                height: 100%;
                .send-message {
                    font-size: 18px;    
                }  
                .form {
                    padding-top: 42px;    
                }
                .input {
                    span {
                        padding: 6px;
                        font-size: 12px;
                    }
                    textarea {
                        min-height: 120px;
                    }
                    input, textarea {
                        padding: 6px;
                        font-size: 12px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-32px);
                        font-size: 12px;
                    }
                    input[type="submit"] {
                        padding: 12px 0px;
                        font-size: 14px;
                        max-width: 100px;
                    }
                }
                .input.half {
                    margin-bottom: 48px;
                }
                .input.full {
                    margin-bottom: 20px;
                }
    
            }
        }
    }
}

@media screen and (max-width: 567px) {
    .header {  
        .nav-links {
            .list-link {
                font-size: 24px;
                margin: 10% 0;
            }
        }
        .title {
            .top-link {
                font-size: 32px;
            }
        }
        .hamburger {
            .line {
                width: 28px;
                height: 3px;
                margin: 4px;
            }
        }
        .hamburger.active {
            margin-right: 8px;
            .line {
                margin: -3px;
            }
            .line:nth-child(1) {
                transform: rotate(45deg);
            }
            .line:nth-child(2) {
                opacity: 0;
            }
            .line:nth-child(3) {
                transform: rotate(135deg);
            }
        }        
    }
    .contact {
        height: auto; 
        padding-top: 18vh;
        .container {
            width: 250px;
            height: 950px;          
            .contact-info {
                width: 250px;
                height: 220px;
                padding: 24px;
                .contact-text {
                    font-size: 18px;
                }
                .contact-details {
                    font-size: 16px;
                }
            }
            .contact-form {
                padding: 24px;
                margin: 0;                
                padding-top: 300px;
                width: 250px;
                .send-message {
                    font-size: 18px;
                    margin-bottom: 24px;   
                }  
                .form {
                    padding-top: 42px;    
                }
                .input {
                    span {
                        padding: 8px;
                        font-size: 16px;
                    }
                    textarea {
                        min-height: 120px;
                    }
                    input, textarea {
                        padding: 8px;
                        font-size: 16px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-36px);
                        font-size: 16px;
                    }
                    input[type="submit"] {
                        padding: 12px 0px;
                        font-size: 14px;
                        max-width: 100px;
                    }
                }
                .input.half {
                    width: 100%;
                    margin-bottom: 48px;
                }
                .input.full {
                    margin-bottom: 20px;
                }
    
            }
        }
    }
}