@import "./vars";

* {
    font-family: Montserrat;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FCFCFC;
}

.header {
    position: fixed;
    height: 10vh;
    width: 100%;
    background: transparent;
    transition: .4s all ease-in-out;
    display: flex;
    z-index: 5;
    .title {
        display: flex;
        width: 50%;
        justify-content: start;
        align-items: center;
        padding: 0 5%;
        z-index: 2;
        letter-spacing: 2px;
        font-size: 42px;
    }
    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        letter-spacing: 2px;
        font-size: 22px;
        .link {
            text-decoration: none;
            color: $dark;
        }
    }
}

header.active {
    background-color: $light;
    box-shadow: 0px 1px 5px 0px #000000;
}


.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background: $darker-grey;
    .contact-me {
        color: $light;
        margin-bottom: 92px;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 2px;
    }
    .container {
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        display: flex;
        z-index: 2;
        .contact-info {
            position: absolute;
            top: 40px;
            width: 350px;
            height: calc(100% - 80px);
            background: $light;
            z-index: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            .contact-text {
                color: $dark;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .info {
                position: relative;
                margin: 20px 0;
            }
            .contact-details {
                position: relative;
                list-style: none;
                display: flex;
                color: $dark;
                margin: 20px 12px;
                font-size: 18px;
            }
        }
        .contact-form {
            position: absolute;
            padding: 80px 50px;
            background: $mid-grey;
            margin-left: 150px;
            padding-left: 250px;
            width: calc(100% - 250px);
            height: 100%;
            .send-message {
                color: $light;
                letter-spacing: 2px;
                font-size: 24px;
                font-weight: bold;

            }  
            .form {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 42px;

            }
            .input {
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    padding: 5px;
                    font-size: 18px;
                    color: $light;
                    transition: .5s;
                    pointer-events: none;
                    letter-spacing: 1px;
                }
                textarea {
                    min-height: 120px;
                }
                input, textarea {
                    width: 100%;
                    padding: 6px 12px;
                    font-size: 18px;
                    color: $light;
                    border: none;
                    outline: none;
                    background: $light-grey;
                    resize: none;
                }
                input:focus ~ span, textarea:focus ~ span,
                input:valid ~ span, textarea:valid ~ span {
                    transform: translateY(-32px);
                    font-size: 16px;
                }
                input[type="submit"] {
                    position: relative;
                    cursor: pointer;
                    background: $light;
                    color: $dark;
                    border: none;
                    max-width: 150px;
                    padding: 14px;
                    transition: .4s all ease-in-out;
                    font-weight: bold;
                    letter-spacing: 2px;
                    &:hover {
                        color: $light;
                        background: $dark;
                    }
                }
            }
            .input.half {
                width: 47%;
                margin-bottom: 48px;
            }
            .input.full {
                width: 100%;
                margin-bottom: 20px;
                text-align: right;
            }

        }
    }
}

.to-the-top {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    right: 64px;
    bottom: 64px;
    width: 216px;
    padding: 16px;
    font-size: 20px;
    background-color: $light;
    cursor: pointer;
    z-index: 5;
    text-decoration: none;
    color: $dark;
    transition: .4s all ease-in-out;
}

.to-the-top.active {
    pointer-events: all;
    opacity: 1;
}

@media screen and (max-width: 992px) {
    .header {
        bottom: 1;
        .nav-links {
            position: fixed;
            top: 0;
            background-color: $light;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            transition: all 0.9s ease-out;
            clip-path: circle(100px at 100% -5%);
            .link {
                font-size: 32px;
               margin-top: 75px;
               margin-bottom: 75px;
            }
        }
        .title {
            width: 70%;
        }
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        .line {
            width: 35px;
            height: 4px;
            margin: 6px;
            background-color: black;
        }
    }
    .nav-links.open {
        clip-path: circle(1650px at 5% 0%);
        pointer-events: all;
    }
}

