@import "./vars";

* {
    font-family: Montserrat;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FCFCFC;
}

.header {
    position: fixed;
    height: 10vh;
    width: 100%;
    background: transparent;
    transition: .4s all ease-in-out;
    display: flex;
    z-index: 5;
    .title {
        display: flex;
        width: 50%;
        justify-content: start;
        align-items: center;
        padding: 0 5%;
        z-index: 2;
        letter-spacing: 2px;
        font-size: 42px;
    }
    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        letter-spacing: 2px;
        font-size: 22px;
        .list-link {
            margin: 32px;
            .link {
                text-decoration: none;
                color: $dark;
            }
        }
    }
}

header.active {
    background-color: $light;
    box-shadow: 0px 1px 5px 0px #000000;
}


.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background: $darker-grey;
    .contact-me {
        color: $light;
        margin-bottom: 92px;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 2px;
    }
    .container {
        position: relative;
        width: 1100px;
        height: 550px;
        display: flex;
        z-index: 2;
        .contact-info {
            position: absolute;
            top: 40px;
            width: 350px;
            height: calc(100% - 80px);
            background: $light;
            z-index: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            .contact-text {
                color: $dark;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .info {
                position: relative;
                margin: 20px 0;
            }
            .contact-details {
                position: relative;
                list-style: none;
                display: flex;
                color: $dark;
                margin: 20px 12px;
                font-size: 18px;
            }
        }
        .contact-form {
            position: absolute;
            padding: 80px 50px;
            background: $mid-grey;
            margin-left: 150px;
            padding-left: 250px;
            width: calc(100% - 250px);
            height: 100%;
            .send-message {
                color: $light;
                letter-spacing: 2px;
                font-size: 24px;
                font-weight: bold;

            }  
            .form {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 42px;

            }
            .input {
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    padding: 5px;
                    font-size: 18px;
                    color: $light;
                    transition: .5s;
                    pointer-events: none;
                    letter-spacing: 1px;
                }
                textarea {
                    min-height: 120px;
                }
                input, textarea {
                    width: 100%;
                    padding: 6px 12px;
                    font-size: 18px;
                    color: $light;
                    border: none;
                    outline: none;
                    background: $light-grey;
                    resize: none;
                }
                input:focus ~ span, textarea:focus ~ span,
                input:valid ~ span, textarea:valid ~ span {
                    transform: translateY(-32px);
                    font-size: 16px;
                }
                input[type="submit"] {
                    position: relative;
                    cursor: pointer;
                    background: $light;
                    color: $dark;
                    border: none;
                    max-width: 150px;
                    padding: 14px;
                    transition: .4s all ease-in-out;
                    font-weight: bold;
                    letter-spacing: 2px;
                    &:hover {
                        color: $light;
                        background: $dark;
                    }
                }
            }
            .input.half {
                width: 47%;
                margin-bottom: 48px;
            }
            .input.full {
                width: 100%;
                margin-bottom: 20px;
                text-align: right;
            }

        }
    }
}

.to-the-top {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    bottom: 64px;
    right: 0;
    padding: 16px;
    font-size: 24px;
    background-color: $light;
    cursor: pointer;
    z-index: 4;
    text-decoration: none;
    color: $dark;
    transition: .4s all ease-in-out;
}

.to-the-top.active {
    pointer-events: all;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .contact {
        .container {
            width: 700px;
            height: 500px;            
            .contact-info {
                width: 250px;
                height: calc(100% - 80px);
                padding: 24px;
                .contact-text {
                    font-size: 18px;
                }
                .contact-details {
                    font-size: 16px;
                }
            }
            .contact-form {
                padding: 30px 20px;
                margin-left: 50px;
                padding-left: 250px;
                width: calc(100% - 50px);
                height: 100%;
                .send-message {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .nav-links {
            position: fixed;
            top: 0;
            left: 0;
            background-color: $light;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            transition: all 0.9s ease-out;
            clip-path: circle(100px at 100% -15%);
            .link {
                font-size: 32px;
                margin-top: 75px;
                margin-bottom: 75px;
            }
        }
        .title {
            width: 70%;
        }
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        .line {
            width: 35px;
            height: 4px;
            margin: 6px;
            background-color: $dark;
        }
    }
    .nav-links.open {
        clip-path: circle(1650px at 5% 0%);
        pointer-events: all;
    }
    .contact {
        .container {
            width: 650px;
            height: 500px;
            .contact-info {
                width: 225px;
                height: calc(100% - 80px);
                padding: 32px 14px;
                .contact-text {
                    font-size: 18px;
                }
                .contact-details {
                    margin: 12px 6px;
                    font-size: 14px;
                }
            }
            .contact-form {
                padding: 50px 50px;
                margin-left: 100px;
                padding-left: 150px;
                width: calc(100% - 100px);
                height: 100%;
                .send-message {
                    font-size: 18px;    
                }  
                .form {
                    padding-top: 42px;    
                }
                .input {
                    span {
                        padding: 5px;
                        font-size: 16px;
                    }
                    textarea {
                        min-height: 120px;
                    }
                    input, textarea {
                        padding: 6px 12px;
                        font-size: 18px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-32px);
                        font-size: 16px;
                    }
                    input[type="submit"] {
                        padding: 12px 0px;
                        font-size: 14px;
                        max-width: 100px;
                    }
                }
                .input.half {
                    margin-bottom: 48px;
                }
                .input.full {
                    margin-bottom: 20px;
                }
    
            }
        }
    }
    .to-the-top {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .contact {
        .container {
            width: 550px;
            height: 500px;
            .contact-info {
                width: 200px;
                height: calc(100% - 80px);
                padding: 32px 12px;
                .contact-text {
                    font-size: 16px;
                }
                .contact-details {
                    margin: 12px 6px;
                    font-size: 14px;
                }
            }
            .contact-form {
                padding: 50px 50px;
                margin-left: 100px;
                padding-left: 120px;
                width: calc(100% - 100px);
                height: 100%;
                .send-message {
                    font-size: 18px;    
                }  
                .form {
                    padding-top: 42px;    
                }
                .input {
                    span {
                        padding: 8px 6px;
                        font-size: 12px;
                    }
                    textarea {
                        min-height: 120px;
                    }
                    input, textarea {
                        padding: 6px 12px;
                        font-size: 18px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-32px);
                        font-size: 12px;
                    }
                    input[type="submit"] {
                        padding: 12px 0px;
                        font-size: 14px;
                        max-width: 100px;
                    }
                }
                .input.half {
                    margin-bottom: 48px;
                }
                .input.full {
                    margin-bottom: 20px;
                }
    
            }
        }
    }
}

@media screen and (max-width: 567px) {
    .header {        
        .nav-links {
            .link {
                font-size: 24px;
            }
        }
        .title {
            font-size: 32px;
        }
        .hamburger {
            .line {
                width: 28px;
                height: 3px;
                margin: 4px;
            }
        }
    }
    .contact {
        height: auto; 
        padding-top: 18vh;
        .container {
            width: 250px;
            height: 950px;          
            .contact-info {
                width: 250px;
                height: 220px;
                padding: 24px;
                .contact-text {
                    font-size: 18px;
                }
                .contact-details {
                    font-size: 16px;
                }
            }
            .contact-form {
                padding: 24px;
                margin: 0;                
                padding-top: 300px;
                width: 250px;
                .send-message {
                    font-size: 18px;
                    margin-bottom: 24px;   
                }  
                .form {
                    padding-top: 42px;    
                }
                .input {
                    span {
                        padding: 5px;
                        font-size: 16px;
                    }
                    textarea {
                        min-height: 120px;
                    }
                    input, textarea {
                        padding: 6px 12px;
                        font-size: 18px;
                    }
                    input:focus ~ span, textarea:focus ~ span,
                    input:valid ~ span, textarea:valid ~ span {
                        transform: translateY(-32px);
                        font-size: 16px;
                    }
                    input[type="submit"] {
                        padding: 12px 0px;
                        font-size: 14px;
                        max-width: 100px;
                    }
                }
                .input.half {
                    width: 100%;
                    margin-bottom: 48px;
                }
                .input.full {
                    margin-bottom: 20px;
                }
    
            }
        }
    }
    .to-the-top {
        font-size: 18px;
    }
}