* {
  font-family: Montserrat;
  font-weight: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
}

.header {
  position: fixed;
  height: 10vh;
  width: 100%;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  background-color: #f5f5f5;
}

.header .title {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  padding: 0 5%;
}

.header .title .top-link {
  text-decoration: none;
  color: #212121;
  letter-spacing: 2px;
  font-size: 42px;
}

.header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  letter-spacing: 2px;
  font-size: 22px;
}

.header .nav-links .list-link .link {
  text-decoration: none;
  color: #212121;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  background: #424242;
}

.contact .contact-me {
  color: #f5f5f5;
  margin-bottom: 92px;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 2px;
}

.contact .container {
  position: relative;
  width: 1100px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.contact .container .contact-info {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #f5f5f5;
  z-index: 1;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .contact-info .contact-text {
  color: #212121;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact .container .contact-info .info {
  position: relative;
  margin: 20px 0;
}

.contact .container .contact-info .contact-details {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  margin: 20px 12px;
  font-size: 18px;
}

.contact .container .contact-form {
  position: absolute;
  padding: 80px 50px;
  background: #4a4a4a;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 250px);
  height: 100%;
}

.contact .container .contact-form .send-message {
  color: #f5f5f5;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
}

.contact .container .contact-form .form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 42px;
}

.contact .container .contact-form .input {
  position: relative;
}

.contact .container .contact-form .input span {
  position: absolute;
  left: 0;
  padding: 5px;
  font-size: 18px;
  color: #f5f5f5;
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
  letter-spacing: 1px;
}

.contact .container .contact-form .input textarea {
  min-height: 120px;
}

.contact .container .contact-form .input input, .contact .container .contact-form .input textarea {
  width: 100%;
  padding: 6px 12px;
  font-size: 18px;
  color: #f5f5f5;
  border: none;
  outline: none;
  background: #636363;
  resize: none;
}

.contact .container .contact-form .input input:focus ~ span, .contact .container .contact-form .input textarea:focus ~ span,
.contact .container .contact-form .input input:valid ~ span, .contact .container .contact-form .input textarea:valid ~ span {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 16px;
}

.contact .container .contact-form .input input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #f5f5f5;
  color: #212121;
  border: none;
  max-width: 150px;
  padding: 14px;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact .container .contact-form .input input[type="submit"]:hover {
  color: #f5f5f5;
  background: #212121;
}

.contact .container .contact-form .input.half {
  width: 47%;
  margin-bottom: 48px;
}

.contact .container .contact-form .input.full {
  width: 100%;
  margin-bottom: 20px;
  text-align: right;
}

@media screen and (min-width: 2560px) {
  .header .title .top-link {
    font-size: 58px;
  }
  .header .nav-links {
    font-size: 36px;
  }
  .contact .contact-me {
    margin-bottom: 128px;
    font-size: 48px;
  }
  .contact .container {
    width: 1600px;
    height: 800px;
  }
  .contact .container .contact-info {
    width: 450px;
    height: calc(100% - 80px);
  }
  .contact .container .contact-info .contact-text {
    font-size: 32px;
  }
  .contact .container .contact-info .info {
    margin: 26px 0;
  }
  .contact .container .contact-info .contact-details {
    margin: 26px 16px;
    font-size: 26px;
  }
  .contact .container .contact-form {
    margin-left: 150px;
    padding-left: 350px;
    width: calc(100% - 250px);
  }
  .contact .container .contact-form .send-message {
    font-size: 36px;
  }
  .contact .container .contact-form .form {
    padding-top: 64px;
  }
  .contact .container .contact-form .input span {
    padding: 8px;
    font-size: 26px;
  }
  .contact .container .contact-form .input textarea {
    min-height: 260px;
  }
  .contact .container .contact-form .input input, .contact .container .contact-form .input textarea {
    padding: 12px 24px;
    font-size: 22px;
  }
  .contact .container .contact-form .input input:focus ~ span, .contact .container .contact-form .input textarea:focus ~ span,
  .contact .container .contact-form .input input:valid ~ span, .contact .container .contact-form .input textarea:valid ~ span {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    font-size: 22px;
  }
  .contact .container .contact-form .input input[type="submit"] {
    max-width: 180px;
    padding: 18px;
    font-size: 26px;
  }
  .contact .container .contact-form .input input[type="submit"]:hover {
    color: #f5f5f5;
    background: #212121;
  }
  .contact .container .contact-form .input.half {
    width: 47%;
    margin-bottom: 64px;
  }
  .contact .container .contact-form .input.full {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
  }
}

@media screen and (max-width: 1366px) {
  .header .nav-links {
    width: 65%;
  }
}

@media screen and (max-width: 1200px) {
  .header .nav-links {
    width: 70%;
  }
  .header .nav-links .link {
    font-size: 18px;
  }
  .contact .container {
    width: 700px;
    height: 500px;
  }
  .contact .container .contact-info {
    width: 250px;
    height: calc(100% - 80px);
    padding: 24px;
  }
  .contact .container .contact-info .contact-text {
    font-size: 18px;
  }
  .contact .container .contact-info .contact-details {
    font-size: 16px;
  }
  .contact .container .contact-form {
    padding: 30px 20px;
    margin-left: 50px;
    padding-left: 250px;
    width: calc(100% - 50px);
    height: 100%;
  }
  .contact .container .contact-form .send-message {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .header .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
    -webkit-clip-path: circle(100px at 100% -15%);
            clip-path: circle(100px at 100% -15%);
  }
  .header .nav-links .list-link {
    font-size: 32px;
    margin: 5% 0;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .hamburger .line {
    width: 35px;
    height: 4px;
    margin: 6px;
    background-color: #212121;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1650px at 5% 0%);
            clip-path: circle(1650px at 5% 0%);
    pointer-events: all;
  }
  .contact .container {
    width: 650px;
    height: 500px;
  }
  .contact .container .contact-info {
    width: 225px;
    height: calc(100% - 80px);
    padding: 32px 14px;
  }
  .contact .container .contact-info .contact-text {
    font-size: 18px;
  }
  .contact .container .contact-info .contact-details {
    margin: 12px 6px;
    font-size: 14px;
  }
  .contact .container .contact-form {
    padding: 50px 50px;
    margin-left: 100px;
    padding-left: 150px;
    width: calc(100% - 100px);
    height: 100%;
  }
  .contact .container .contact-form .send-message {
    font-size: 18px;
  }
  .contact .container .contact-form .form {
    padding-top: 42px;
  }
  .contact .container .contact-form .input span {
    padding: 5px;
    font-size: 16px;
  }
  .contact .container .contact-form .input textarea {
    min-height: 120px;
  }
  .contact .container .contact-form .input input, .contact .container .contact-form .input textarea {
    padding: 6px 12px;
    font-size: 18px;
  }
  .contact .container .contact-form .input input:focus ~ span, .contact .container .contact-form .input textarea:focus ~ span,
  .contact .container .contact-form .input input:valid ~ span, .contact .container .contact-form .input textarea:valid ~ span {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    font-size: 16px;
  }
  .contact .container .contact-form .input input[type="submit"] {
    padding: 12px 0px;
    font-size: 14px;
    max-width: 100px;
  }
  .contact .container .contact-form .input.half {
    margin-bottom: 48px;
  }
  .contact .container .contact-form .input.full {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact .container {
    width: 550px;
    height: 500px;
  }
  .contact .container .contact-info {
    width: 200px;
    height: calc(100% - 80px);
    padding: 32px 12px;
  }
  .contact .container .contact-info .contact-text {
    font-size: 16px;
  }
  .contact .container .contact-info .contact-details {
    margin: 12px 6px;
    font-size: 14px;
  }
  .contact .container .contact-form {
    padding: 50px 50px;
    margin-left: 100px;
    padding-left: 120px;
    width: calc(100% - 100px);
    height: 100%;
  }
  .contact .container .contact-form .send-message {
    font-size: 18px;
  }
  .contact .container .contact-form .form {
    padding-top: 42px;
  }
  .contact .container .contact-form .input span {
    padding: 8px 6px;
    font-size: 12px;
  }
  .contact .container .contact-form .input textarea {
    min-height: 120px;
  }
  .contact .container .contact-form .input input, .contact .container .contact-form .input textarea {
    padding: 6px 12px;
    font-size: 18px;
  }
  .contact .container .contact-form .input input:focus ~ span, .contact .container .contact-form .input textarea:focus ~ span,
  .contact .container .contact-form .input input:valid ~ span, .contact .container .contact-form .input textarea:valid ~ span {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    font-size: 12px;
  }
  .contact .container .contact-form .input input[type="submit"] {
    padding: 12px 0px;
    font-size: 14px;
    max-width: 100px;
  }
  .contact .container .contact-form .input.half {
    margin-bottom: 48px;
  }
  .contact .container .contact-form .input.full {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 567px) {
  .header .nav-links .list-link {
    font-size: 24px;
    margin: 10% 0;
  }
  .header .title .top-link {
    font-size: 32px;
  }
  .header .hamburger .line {
    width: 28px;
    height: 3px;
    margin: 4px;
  }
  .contact {
    height: auto;
    padding-top: 18vh;
  }
  .contact .container {
    width: 250px;
    height: 950px;
  }
  .contact .container .contact-info {
    width: 250px;
    height: 220px;
    padding: 24px;
  }
  .contact .container .contact-info .contact-text {
    font-size: 18px;
  }
  .contact .container .contact-info .contact-details {
    font-size: 16px;
  }
  .contact .container .contact-form {
    padding: 24px;
    margin: 0;
    padding-top: 300px;
    width: 250px;
  }
  .contact .container .contact-form .send-message {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .contact .container .contact-form .form {
    padding-top: 42px;
  }
  .contact .container .contact-form .input span {
    padding: 5px;
    font-size: 16px;
  }
  .contact .container .contact-form .input textarea {
    min-height: 120px;
  }
  .contact .container .contact-form .input input, .contact .container .contact-form .input textarea {
    padding: 6px 12px;
    font-size: 18px;
  }
  .contact .container .contact-form .input input:focus ~ span, .contact .container .contact-form .input textarea:focus ~ span,
  .contact .container .contact-form .input input:valid ~ span, .contact .container .contact-form .input textarea:valid ~ span {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    font-size: 16px;
  }
  .contact .container .contact-form .input input[type="submit"] {
    padding: 12px 0px;
    font-size: 14px;
    max-width: 100px;
  }
  .contact .container .contact-form .input.half {
    width: 100%;
    margin-bottom: 48px;
  }
  .contact .container .contact-form .input.full {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=layout.css.map */